@layer base {

  :root {
    --size-0: 4px;
    --size-1: 8px;
    --size-2: 16px;
    --size-3: 28px;
    --size-4: 44px;
    --size-5: 64px;
    --size-6: 88px;

    --color-0: oklch(100% 0 0);
    --color-1: oklch(82.1% 0.165 89.94);
    --color-3: oklch(0% 0 0);
    --main-color: oklch(44.62% 0.104 324.41);

    --gradient-1: linear-gradient(in oklch to left bottom, var(--main-color) -15%, var(--color-1));
    --gradient-2: linear-gradient(in oklch to right top, var(--main-color) -15%, var(--color-1));

    --max-site-width: 160ch;

    --line-height: calc(1em + 4px);

    --fluid-font-size-1: clamp(1rem, 2vi, 1.5rem);
    --fluid-font-size-2: clamp(1rem, 2vi, 2rem);
    --fluid-font-size-3: clamp(2rem, 4vi, 3.5rem);
    --fluid-font-size-4: clamp(2.5rem, 6vi, 5rem);

    --border-radius: var(--size-2);
  }
}