@layer style {

  :root {
    --website-padding-inline: var(--size-2);
  }

  body {
    font-family: system-ui, sans-serif;
    font-size: 105%;
    line-height: 1.5;
  }

  .promo-1 {
    container: promo-1 / inline-size;
    position: relative;
    background-color: var(--main-color);
    overflow-y: clip;
  }

  .promo-1 div {
    position: relative;
    z-index: 10;
    display: block grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "heading heading"
      "photo descr"
      "photo order-link";
    gap: var(--size-2);
    padding-inline: var(--website-padding-inline);
    padding-block: var(--size-4);

    & h1 {
      grid-area: heading;
      place-self: center;
      color: var(--color-1);
      text-shadow: 2px 2px 6px var(--color-3);
    }

    & img {
      grid-area: photo;
      place-self: center;
      inline-size: clamp(200px, 30vi, 490px);
    }

    & ul {
      grid-area: descr;
      display: block flex;
      flex-direction: column;
      gap: var(--size-2);
    }

    li {
      padding: var(--size-2);
      border-radius: var(--border-radius);
      background-color: oklch(from var(--main-color) l c h / .5);
    }

    & a {
      grid-area: order-link;
      place-self: center;
      inline-size: clamp(100px, 30vi, 400px);
    }

  }

  .promo-1 video {
    position: absolute;
    inset-block-start: 0;
    inline-size: 100vi;
    block-size: 100%;
    object-fit: cover;
    opacity: 0.6;
  }

  @container promo-1 (inline-size <=768px) {

    .promo-1 div {
      grid-template-columns: 1fr;
      grid-template-areas:
        "heading"
        "photo"
        "order-link"
        "descr";
    }

    h1 {
      font-size: var(--fluid-font-size-3);
    }

    .promo-1 div a {
      font-size: var(--fluid-font-size-1);
    }
  }

  .composition {
    padding-block: var(--size-5);
    position: relative;
    background-image: var(--gradient-1);

    & .product-box {
      position: absolute;
      inset: 0;
      display: block grid;
      place-items: center;
      margin: auto;
      inline-size: fit-content;
      block-size: fit-content;

      & img {
        margin-block-end: var(--size-3);
        inline-size: clamp(150px, 20vi, 250px);
      }

      & a {
        inline-size: clamp(100px, 20vi, 200px);
      }
    }

    & ul {
      display: block grid;
      grid-template-columns: repeat(2, minmax(10vi, 400px));
      justify-content: space-between;
      gap: var(--size-6);
      column-gap: 260px;
    }

    & li {
      display: block flex;
      align-items: center;
      gap: var(--size-2);
    }

    & li:nth-child(odd) {
      flex-direction: row-reverse;

      & p {
        text-align: end;
      }
    }

    & .img-box {
      flex-basis: 100%;
      border: 2px solid var(--main-color);
      border-radius: 50%;
      background-image: var(--gradient-2);
    }

    & p {
      font-size: var(--fluid-font-size-1);
    }
  }
}